# Add any directories, files, or patterns you don't want to be tracked by version control

#Files

*.jar
*.war
*.ear

#directories
**/.settings/
**/.sonar/
**/target/
**/bin/
**/node_modules/
**/.vscode/
**/.idea/
**/.mvn/

#Class
*.classpath
*.DS_Store
*.class
*.txt

#Eclipse_workspace_data
**/.metadata/

#IDE_specific_files
**/.project
**/nb-configuration.xml
**/.factorypath
**/.package.json
**/.package-lock.json
**/.eslintrc.json
**/.jshintrc.json
